<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <header><%- include("partials/sidebar"); %></header>
      </div>
      <div class="col-sm-10">
        <h1><%- title %>: ID <%- book_instance._id %></h1>
        <p>Book instance for book <strong><%- book_instance.book.title %></strong></p>
        <p class="text-danger">
          <strong>Do you really want to delete this book instance?</strong>
        </p>
        <form method="post" action="">
          <div class="form-group">
            <input
              id="<%- book_instance._id %>"
              class="form-control"
              type="hidden"
              name="book_instanceid"
              required="true"
              value="<%- book_instance._id %>"
            />
          </div>
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
