<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <header><%- include("partials/sidebar"); %></header>
      </div>
      <div class="col-sm-10">
        <h1><%= title %>: <%= book.name %></h1>
        <% if (book_instances.length > 0) { %>
        <p>
          <strong
            >Delete the following book instances before attempting to delete
            this book.</strong
          >
        </p>
        <div style="margin-left: 20px; margin-top: 20px">
          <h4>Book Instances</h4>
          <% for (let i = 0; i < book_instances.length; i++) { %>
          <p>
            <strong>ID: </strong>
            <a href="<%= book_instances[i].url %>"
              ><%= book_instances[i]._id %></a
            >
          </p>

          <p>
            <strong>Imprint: </strong>strong><%= book_instances[i].imprint %>
          </p>
          <p>
            <strong>Status: </strong> <% if (book_instances[i].status ==
            'Available') { %>
            <span class="text-success"><%= book_instances[i].status %></span>
            <% } else if (book_instances[i].status == 'Maintenance') { %>
            <span class="text-danger"><%= book_instances[i].status %></span>
            <% } else { %>
            <span class="text-warning"><%= book_instances[i].status %></span>
            <% } %>
          </p>
          <% if (book_instances[i].status != 'Available') { %>
          <p>
            <strong>Due back: </strong><%= book_instances[i].due_back_formatted
            %>
          </p>
          <% } %>
          <hr />
          <% } %>
        </div>
        <% } else { %>
        <p class="text-danger">
          <strong>Do you really want to delete this book?</strong>
        </p>
        <form method="post" action="">
          <div class="form-group">
            <input
              id="bookid"
              class="form-control"
              type="hidden"
              name="bookid"
              required="true"
              value="<%= book._id %>"
            />
          </div>
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
  </body>
</html>
