<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <header><%- include("partials/sidebar"); %></header>
        </div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <p>
            Welcome to <b>LocalLibrary</b>, a basic Express website built for
            the MDN NodeJS course
          </p>
          <h1>Dynamic Content</h1>
          <p>The library has the following records</p>
          <ul>
            <li><strong>Books: </strong><%- book_count %></li>
            <li><strong>Copies: </strong><%- book_instance_count %></li>
            <li>
              <strong>Copies available: </strong><%-
              book_instance_available_count %>
            </li>
            <li><strong>Authors: </strong><%- author_count %></li>
            <li><strong>Genres: </strong><%- genre_count %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
